

            <div id="main" class="site-main">
                <div id="main-content" class="single-page-content">
                    <div id="primary" class="content-area">

                        <div class="page-title">
                            <h1>Portfolio</h1>
                            <div class="page-subtitle">
                                <h4> My Works</h4>
                            </div>
                        </div>

                        <div id="content" class="page-content site-content single-post" role="main">

                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <!-- Portfolio Content -->
                                    <div id="portfolio_content_q" class="portfolio-content">

                                        <ul class="portfolio-filters">
                                            <li class="active">
                                                <a class="filter btn btn-sm btn-link" data-group="category_all">My Git Repo</a>
                                            </li>

                                            <li>
                                                <a class="filter btn btn-sm btn-link" data-group="category_detailed">Banking System</a>
                                            </li>

                                            <li>
                                                <a class="filter btn btn-sm btn-link" data-group="category_direct-url">Git Payroll System</a>
                                            </li>
                                        </ul>


                                        <!-- Portfolio Grid -->
                                        <div class="portfolio-grid three-columns shuffle">

                                            <!-- Portfolio Item 1 -->
                                            <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                                                <div class="portfolio-item-img">
                                                    <img src="~/img/portfolio/git.jpeg" alt="Full Project 2" title="" />
                                                    <a href="https://github.com/Medallion99/Mini-BankApp" class="ajax-page-load"></a>
                                                </div>

                                                @* <i class="far fa-file-alt"></i> *@
                                                <h4 class="name">Bank App</h4>
                                                <span class="category">BankApp</span>
                                            </figure>
                                            <!-- /Portfolio Item 1 -->
                                            <!-- Portfolio Item 2 -->
                                            <figure class="item lbvideo" data-groups='["category_all", "category_video", "category_youtube-video"]'>
                                                <div class="portfolio-item-img">
                                                <img src="~/img/portfolio/git.jpeg" alt="YouTube Video 2" title="" />
                                        <a href="https://github.com/Medallion99/PayRollSystem" class="lightbox mfp-iframe" title="YouTube Video 2"></a>
                                                </div>

                                                @* <i class="fab fa-youtube"></i> *@
                                                <h4 class="name">Payroll System</h4>
                                                <span class="category">Payroll System</span>
                                            </figure>
                                            <!-- /Portfolio Item 2 -->
                                            <!-- Portfolio Item 3 -->
                                            <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
                                                <div class="portfolio-item-img">
                                                <img src="~/img/portfolio/git.jpeg" alt="Image 2" title="" />
                                        <a class="lightbox" title="Image 2" href="https://github.com/Medallion99/Reading-Data-with-Linq"></a>
                                                </div>

                                               @*  <i class="fa fa-image"></i> *@
                                                <h4 class="name">Linq</h4>
                                                <span class="category">Linq</span>
                                            </figure>
                                        </div>
                                        <!-- /Portfolio Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>